<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>

   </head>

  <body>

  <div id="topBar">

    <h1><%= title %></h1>
    <div id="front"> </div>

  </div>
<div class="container">



  <form id="form">

    <input type="text" class="form-control" id="answerBox" placeholder="answer here">
    <!--   <input type="text" id="quoteAuthor" name="quoteAuthor" placeholder=""> -->
    <input type="button" value='Save' id="saveAnswer">

  </form>


   <div id="lib">



  </div>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/javascripts/main.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</div>
</html>
