<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>

   </head>

  <body>

<div class="container">
  <div class"row-sm-12">
    <h1><%= title %></h1>
  </div>

  <div class="row-sm-12">

  <form id="form">
 <input type="text" class="form-control answer-form mytext"  id="answerBox" placeholder="answer here">
    <input type="button" value='Save' class="answer-form" id="saveAnswer">
    <input type="number" class="form-control number-form mytext" id="numberBox" placeholder="1234567890">
    <input type="button" value='Save' class="number-form" id="saveNumber">
  </form>

   <div id="lib">

  </div>

  </div>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/javascripts/main.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</div>
</html>
